

<h1 class="text-center">Listing Restaurants</h1>

<div class="container wrapper">
  <div class="row">

    <% @restaurants.each do |restaurant| %>

      <div class="col-xs-12 col-sm-4">

        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('background.jpg');">
          <div class="card-category"><%= restaurant.category %></div>
          <div class="card-description">
            <h2><%= restaurant.name %></h2>
            <p><%= restaurant.address %></p>
          </div>
          <img class="card-user avatar" src="user.jpg">
          <%= link_to '', restaurant_path(restaurant), class: "card-link" %>
            <%= link_to 'Write a Review', new_restaurant_review_path(restaurant) %>
         </div>
      </div>
    <% end %>
  </div>

</div>
